<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/upload">Upload</a><br>
    <a href="/upload-multiple">Upload Multiple</a><br>
    <a href="/upload-resize">Upload Resize</a><br>
    <a href="/upload-multiple-resize">Upload Multiple Resize</a><br>
</body>
</html>