<!DOCTYPE html>
<html lang="th">
    <%- include('layouts/head') %>
<body>
    <%- include('layouts/nav') %>

    <div id="content" style="text-align:center">
        <p><%= content %></p>
    </div>
    <br>
    
    <%- include('layouts/footer') %>
</body>
</html>