
<!DOCTYPE html>
<html lang="th">
<head>
<%- include('layouts/head') %>
</head>
<body>
<%- include('layouts/nav') %>

<div id="container" class="my-5">
    <div class="jumbotron p-4">
        <h3>Workshop</h3>
        <p class="text-success">การสร้างเว็บบอร์ด</p>
        <hr>
        <p>เป็นแนวทางการนำความรู้จากหลายเรื่องๆ มาประยุกต์ใช้ร่วมกัน ... </p>
        <a href="/webboard/new-question" class="btn btn-primary btn-sm mr-4">ตั้งคำถามใหม่</a>
        <a href="/webboard/show-all-questions" class="btn btn-success btn-sm">ดูคำถามทั้งหมด</a>
    </div> 
</div>

<%- include('layouts/footer') %>
</body>
</html>