<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        button, a.btn {
            width: 200px;
        }
    </style>
    <%- include('layouts/head.ejs') %>
</head>
<body>
    <div class="mt-3" style="text-align: center;">
        <button class="btn btn-success my-1">สมาชิกเข้าสู่ระบบ</button><br>
        <button class="btn btn-primary my-1">สมัครสมาชิกใหม่</button><br>
        <button class="btn btn-warning my-1">ติดต่อผู้ดูแลระบบ</button><br>
        <a href="/products" class="btn btn-info my-1">รายการสินค้า</a>
    </div>
</body>
</html>