<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <br><br>
    <div style="text-align: center;">
        <a href="/add-product">เพิ่มรายการสินค้า</a><br><br>
        <a href="/show-products-all">แสดงรายการสินค้าทั้งหมด</a><br><br>
        <a href="/show-products-search">แสดงรายการสินค้าและค้นหา</a><br><br>
        <a href="/show-products-edit">แสดงรายการสินค้าเพื่อแก้ไข</a><br><br>
        <a href="/show-products-paging-pn">แสดงรายการแบบแบ่งเพจ (Prev-Next)</a><br><br>
        <a href="/show-products-paging-no">แสดงรายการแบบแบ่งเพจ (Page Number)</a><br><br>
    </div>
</body>
</html>