<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        form, div#result, a#index {
            margin-left: 50px;
        }
    </style>
</head>
<body>
    <br><br>
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="upfile" accept="image/*"><br><br>
        <input type="checkbox" name="overwrite" value="true">เขียนทับ (ถ้าชื่อซ้ำ)<br><br>
        <button>OK</button>
    </form>
    <br>
    <a id="index" href="/">หน้าแรก</a>
    <br><br>
    <% if (locals.file) { %>
    <div id="result">
        <hr>
        <img src="<%= file %>" style="max-width: 120px;"><br>
        name: <%= fileInfo.name %><br>
        type: <%= fileInfo.type %><br>
        size: <%= fileInfo.size %> bytes
    </div>
    <% } %>
</body>
</html>